{% extends "base.html" %}
{% load static %}

{% block title %}{{post.title}}{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock css_files %}

{% block content %}


{% if comment_form.errors %}
<div id="alert">
    <h2>There was an error with your submission</h2>
    <p>Please correct the errors before trying again.</p>
    <a href="#comment-form">Go back to the form</a>
</div>
{% endif %}

<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for tag in tags %}
            <span class="tag">{{tag.caption}}</span>
        {% endfor %}
    </div>
    
    <div id="read-later">
        <form action="{% url "read-later" %}" method="POST">
            {% csrf_token %}
        <input type="hidden" name="post_id" value="{{post.id}}">
       {% comment %} {'post': <Post: Programming is Great>, 'tags': <QuerySet [<Tag: Tech>]>, 'comment_form': <CommentForm bound=False, valid=Unknown, fields=(user_name;user_email;text)>, 'comments': <QuerySet []>, 'saved_for_later': False} {% endcomment %}
        <button>{% if saved_for_later %}Remove from {% endif %}Save for later</button>
        </form>
    </div>

    <article>
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="Post Title">
        {% endif %}
        <address>By <a href="mailto:{{post.author.email_address}}">{{post.author.full_name}}</a></address>
        <div>
            Last updated on <time>{{post.date|date:"d M Y"}}</time>
        </div>
    </article>
</section>

<main>
    {{post.content|linebreaks}}
</main>

<section id="comments">
<h1>Comments</h1>
<ul>
    {% for comment in comments %}
    <li>
        <article>
            <h2>By {{comment.user_name}}</h2>
            <p>{{comment.text|linebreaks}}</p>
        </article>
    </li>
    {% endfor %}
</ul>

</section>

<section id="comment-form">
    <h2>Leave a Comment</h2>
    <form action= "{% url "post-detail-page" post.slug %}" method="POST">
        {% csrf_token %}
        {% for form_field in comment_form %}
        <div class="form-control {% if form_field.errors %}invalid{% endif %}">
            {{ form_field.label_tag }}
            {{ form_field }}
            {{form_field.errors}}
        </div>
        {% endfor %}
        <button>Save Comment</button>
    </form>
</div>

{% endblock content %}